.btn.btn-default:hover {
    background: #e4e3e3;
}

.btn.btn-default {
    background: #f3f3f3;
    color: #000000;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 40px;
    text-shadow: none;
}

.btn-active {
    color: #ffffff !important;
    background: #00d8d5 !important;
}

.btn-active:hover {
    background: #6868ac !important;
}

.intro {
  margin: 10px 0;
}

.intro h2 {
  margin-bottom: 10px;
}
