.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-form-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #6868ac;
  margin-bottom: 10px;
}

.booking-form-filter-form {
  display: flex;
  align-items: center;
  margin: 3px 0;
}

.booking-form-filter-form label {
  margin: 0 16px;
  color: white;
}

.booking-show {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.booking-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50vw;
  margin-right: 50px;
}

.booking-form-reservation {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.booking-form-reservation h2,
.booking-list h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.booking-form-container {
}

.booking-form {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.booking-form input,
.booking-form-filter-form input {
  border-radius: 3px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: rgb(3 0 71 / 20%) 0px 1px 3px;
  border: none;
}

.booking-form input {
  margin: 0 0 30px 0;
}

.booking-form button,
.booking-form-filter-form button {
  border: none;
  border-radius: 3px;
  padding: 5px;
  color: #575b5f;
}

.booking-form-filter-form button {
  margin-left: 20px;
  background-color: #f5df4d;
}

.booking-form button {
  background-color: #6868ac;
  color: white;
  width: fit-content;
  align-self: center;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 40px;
  margin-top: 10px;
}

.booking-form button:hover {
    
}

.booking-form-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.booking-form-table {
  border-radius: 2px;
  width: 100%;
  border-collapse: collapse;
}

.booking-form-table-header,
.booking-form-table-data {
  padding: 5px 10px;
}

.booking-form-table-header:first-child,
.booking-form-table-data:first-child {
  border-right: 1px solid #ddd;
}

.booking-form-table-header {
  background-color: #9f9fcc;
  color: white;
}

.booking-form-table-header:last-child,
.booking-form-table-data:last-child {
  width: 20%;
  text-align: center;
}

.booking-form-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.booking-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.booking-item-list li {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: rgb(3 0 71 / 20%) 0px 1px 3px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .booking-item-list li:hover {
  background-color: #6868ac;
  color: #FFFFFF !important;
} */

/* .booking-item-list li:hover .booking-item-symbols-item {
  border: 2px solid white;
} */

.booking-item-list p {
  margin: 0;
  padding: 0;
}

.booking-item-symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.booking-item-symbols-item {
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #6868ac;
}

.booking-item-symbols-item:hover {
  background-color: white;
  color: #6868ac;
  border-radius: 50%;
  cursor: pointer;
}
