/*-------------------------------------
		General css (Reset code)
--------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 14px;
  color: #222222;
  background: #fff;
  font-family: sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.single-footer-item a,
.single-footer-item a:hover,
.single-footer-item a:active,
.single-footer-item a:focus {
  display: inline;
}

a,
a:hover,
a:active,
a:focus {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222222;
  text-transform: capitalize;
}

p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

select,
input,
textarea,
button {
  box-shadow: none;
  outline: 0 !important;
}

html,
body {
  height: 100%;
  z-index: 2;
}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease;
  -moz-transition: opacity 0.3s 0.3s ease;
  -ms-transition: opacity 0.3s 0.3s ease;
  -o-transition: opacity 0.3s 0.3s ease;
  transition: opacity 0.3s 0.3s ease;
  opacity: 0;
}

/*-------------------------------------
		Header
--------------------------------------*/

.top-area {
  position: absolute;
  width: 100%;
}

.wrapper {
  position: relative;
  z-index: -1;
}

.header-area {
  position: relative;
  width: 100%;
}

.sticky-wrapper {
  position: relative;
  z-index: 2;
  transition: 0.7s;
}

.is-sticky .header-area {
}

.is-sticky .header-area:after {
  position: absolute;
  content: "";
  background: rgba(77, 78, 84, 1);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.sticky-wrapper.is-sticky .main-menu .nav a:before {
  bottom: 18px;
}

/*.sticky-wrapper */

.sticky-dark-bg .header-area:after {
  position: absolute;
  content: "";
  background: rgba(77, 78, 84, 1);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/*.logo*/

.logo a,
.logo a:hover,
.logo a:focus {
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 14px 0 0;
  padding: 10px 0 0 0;
}

.logo a span {
  color: #6868ac;
  text-transform: capitalize;
}

/*.logo*/

/*.main-menu*/

.main-menu {
  position: relative;
}

.main-menu ul .nav .navbar-nav {
  text-align: right;
  float: none;
}

.main-menu .nav li {
  position: relative;
  padding: 16px 12px 0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-menu .nav li a {
  padding: 11px 0 29px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.main-menu .nav li.active a,
.main-menu .nav li a:hover,
.main-menu .nav li a:focus {
  color: #6868ac;
  background-color: transparent;
}

.main-menu .nav a:before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -2.4px;
  left: 0;
  background: transparent;
  -webkit-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-menu .nav li.active a:before,
.main-menu .nav a:hover:before {
  background: #6868ac;
  width: 100%;
}

a.button-link {
  padding: 0 !important;
}

/*.main-menu*/

/* tooggle */

.main-menu .navbar-toggle {
  margin-top: 5px;
  border: 1px solid;
  font-size: 16px;
  float: left;
}

.main-menu .navbar-toggle {
  color: #6868ac;
}

.main-menu .navbar-default .navbar-toggle:focus,
.main-menu .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.home-border {
  border-top: 2px solid #fff;
}

/*book-btn*/

.book-btn {
  background: #6868ac;
  border: 1px solid #6868ac;
  width: 120px;
  height: 40px;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.book-btn:hover {
  color: #fff;
  background: #00d8d5;
  border: 1px solid #00d8d5;
}

.book-service-item label {
  margin: 0 !important;
}

.book-service-item {
  display: flex;
  align-content: center;
  margin: 0 3px;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 10px !important;
  margin-top: 0 !important;
  margin-right: 10px !important;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:checked {
  border: 1px solid #adb8c0;
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: "\2714";
  font-size: 15px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #99a1a7;
}

/*-------------------------------------
		3. 	About
--------------------------------------*/

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(/images/home/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
}

.about-us:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(114, 114, 114, 0.6);
}

/*about-us-content*/

.about-us-content {
  margin: -175px 0 0 0;
}

.about-us h2 {
  color: #fff;
  font-size: 84px;
  text-transform: inherit;
  max-width: 800px;
  font-weight: 600;
  line-height: 1.22;
}

.about-us h2 span {
  color: #2bdab5;
  margin-top: -11px;
}

.about-us p {
  color: #fff;
  font-size: 16px;
  text-transform: inherit;
  max-width: 800px;
  /* font-weight: 300; */
  line-height: 2;
  margin-top: 15px;
}

.about-btn {
  margin-top: 39px;
  letter-spacing: 1px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.about-view {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6868ac;
  border: 1px solid #6868ac;
  width: 200px;
  height: 60px;
  white-space: nowrap;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(14, 15, 18, 0.2);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.about-btn:hover .about-view {
  color: #fff;
  background: #00d8d5;
  box-shadow: 0 5px 20px rgba(14, 15, 18, 0.7);
  border: 1px solid #00d8d5;
}

/*-------------------------------------
		Book box
--------------------------------------*/

.single-book-box {
  margin-top: -125px;
  background: #fff;
}

.tab-para p {
  font-size: 24px;
}

/* .desc-tabs */

.desc-tabs {
  border: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.desc-tabs .nav-tabs {
  display: inline-block;
  border-right: 1px solid #fff;
}

.desc-tabs .nav-tabs > li.active > a {
  color: #fff;
  background: #6868ac;
  cursor: default;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.desc-tabs .nav-tabs > li.active > a:focus,
.desc-tabs .nav-tabs > li.active > a:hover {
  color: #565a5c;
  text-decoration: none;
}

.desc-tabs .nav-tabs > li > a {
  color: #fff;
  background: #6868ac;
  cursor: default;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
  padding: 17px 40px 17px 46px;
  border: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.single-book-box .nav > li > a:focus,
.single-book-box .nav > li > a:hover {
  color: #565a5c;
  background: #fff;
  border: 0;
  text-decoration: none;
}

.desc-tabs .nav-tabs > li > a > i {
  padding-right: 6px;
}

/* .desc-tabs */

/*===ab-select-box===*/

.tab-para {
  padding: 43px 42px 24px;
}

.booking-box {
  position: relative;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 50;
}

.blurred {
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  transition: 1s -webkit-filter linear;
}

.success-message {
  display: block;
}

.success-message h4 {
  font-size: x-large;
  text-transform: none;
  text-align: center;
}

.success-message p {
  font-size: medium;
  text-align: center;
}

.single-tab-select-box h2 {
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
  margin-bottom: 17px;
}

.single-tab-select-box input {
  color: #aaa;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: capitalize;
  height: 48px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.form-row {
  margin: 15px 15px;
}

.form-control-lg {
  height: 48px;
  border-radius: 0;
}

.ma {
  margin: auto;
}

.book-btn-form {
  margin: auto;
  display: block;
}

.recommend-hours {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border: none;
  background-color: white;
  text-decoration: underline;
}

.single-tab-select-box .form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0 !important;
  box-shadow: none;
  border: 1px solid #d7d7d7;
  border-radius: 0;
  margin-bottom: 20px;
}
/* .travel-btn */

.about-view.travel-btn {
  width: 120px;
  margin-right: 15px;
}

/*-------------------------------------
        Service
--------------------------------------*/

.service {
  position: relative;
  padding: 80px 0 54px;
}

.single-service-box {
  display: flex;
  margin-bottom: 30px;
}

.service-content {
  max-width: 268px;
  margin-left: 7px;
  margin-top: 6px;
  margin: 6px 0 30px 7px;
}

.service-content h2 a {
  color: #565a5c;
  font-size: 16px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
}

.service-content p {
  color: #aaa;
  font-size: 14px;
  text-transform: inherit;
  font-family: sans-serif;
  margin-top: 17px;
}

/*.item img*/

/*.item-title*/

.item-title {
  position: absolute;
  background: transparent;
  bottom: 20%;
  left: 60px;
  width: 170px;
  height: 60px;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.item-title a {
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 3px;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.item-title p {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-family: sans-serif;
  -webkit-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  -ms-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.item-title p span {
  padding-right: 30px;
}

.filtr-container .filtr-item:hover .item-title a,
.filtr-container .filtr-item:hover .item-title p {
  color: #2cdbb5;
}

/*.item-title*/

/*-------------------------------------
        Discount-offer
--------------------------------------*/

.discount-offer {
  padding: 120px 0;
  position: relative;
  background: url(/images/home/offer-timer.jpg) no-repeat center fixed;
  background-size: cover;
  z-index: 1;
}

.discount-offer:after,
.subscribe:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 122, 207, 0.5);
  z-index: -1;
}

.dicount-offer-content h2 {
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

/* campaign-timer */

.campaign-timer {
  background: rgba(50, 55, 63, 0.65);
  max-width: 555px;
  margin: 43px auto;
  padding: 24px 0 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(34, 31, 31, 0.2);
}

.camp {
  display: block;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  padding: 10px 0;
}

.time-after {
  position: relative;
}

.time-after:after {
  position: absolute;
  content: ":";
  top: 10px;
  right: -8px;
}

.time {
  display: inline-block;
  line-height: 1;
  padding: 10px 22px 0;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
  font-family: sans-serif;
}

/* campaign-timer */

/*.discount-offer-btn*/

.about-view.discount-offer-btn {
  color: #fff;
  max-width: 160px;
  margin: 0 auto;
}

/*.discount-offer-btn*/

/*-------------------------------------
        Packages
--------------------------------------*/

.packages {
  padding: 120px 0 90px;
}

.packages-content {
  margin-top: 65px;
}

/*single-package-item */

.single-package-item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.single-package-item-txt {
  padding: 0 25px;
}

.single-package-item img {
  width: 100%;
}

.single-package-item h3 {
  position: relative;
  font-size: 20px;
  color: #565a5c;
  font-weight: 500;
  font-family: sans-serif;
  padding: 20px 0;
}

.single-package-item h3:after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

.packages-para {
  padding: 17px 0 0;
  text-transform: capitalize;
}

.packages-para p {
  font-size: 14px;
  color: #aaa;
  font-family: sans-serif;
  margin-bottom: 15px;
}

.packages-para tbody:first-child td {
  vertical-align: bottom;
}

.packages-para tbody:second-child td {
  vertical-align: top;
}

.packages-para p span {
  display: inline-block;
  width: 150px;
}

.packages-para img {
  height: 100px;
  width: auto;
}

.packages-review p i {
  color: #ffdf00;
  font-size: 16px;
}

.packages-review span {
  margin-left: 20px;
  font-size: 14px;
  color: #aaa;
  font-family: sans-serif;
  text-transform: capitalize;
}

.about-view.packages-btn {
  width: 110px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about-view.packages-btn:hover {
  box-shadow: 0 5px 20px rgba(14, 15, 18, 0.3);
}

.single-package-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*-------------------------------------
        Testemonial
--------------------------------------*/

.testemonial {
  position: relative;
  background: #f9f9f9;
  padding: 120px 0;
}

/*testemonial-carousel*/

.home1-testm-single {
  max-width: 345px;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.home1-testm-single:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.home1-testm.item {
  padding-top: 74px;
  padding-bottom: 30px;
}

/*.home1-testm-img*/

.testemonial .owl-carousel .owl-item img {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
}

/*.home1-testm-img*/

/*owl-carousel*/

.testemonial .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  padding: 0 19px;
}

.testemonial .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.testemonial .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 3px;
  border-radius: 50%;
  background: #aaa;
}

.testemonial .owl-theme .owl-dots .owl-dot.active span {
  background: #6868ac;
}

/*owl-carousel*/

/*home1-testm-txt*/

.home1-testm-txt {
  padding-top: 27px;
}

.home1-testm-txt p {
  color: #aaa;
  font-size: 16px;
  font-family: sans-serif;
  max-width: 284px;
  margin: 0 auto;
  padding: 20px 0;
}

.home1-testm-txt h3 a {
  display: block;
  color: #6868ac;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.home1-testm-txt h4 {
  color: #aaa;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  padding: 15px 0 0;
}

.home1-testm-txt span {
  color: #ddd;
  font-size: 18px;
}

/*home1-testm-txt*/

/*testemonial-carousel*/

/*single-special-offer*/

.packages-para.special-offer-para p {
  color: #fff;
}

.packages-para.special-offer-para p span {
  display: inline;
  color: #fff;
  width: 100%;
  margin-right: 25px;
}

.offer-para {
  margin-top: 31px;
  text-transform: initial;
  line-height: 2;
}

.packages-review.special-offer-review {
  margin-bottom: 13px;
}

.packages-review.special-offer-review span {
  color: #fff;
}

.offer-btn-group {
  display: flex;
  margin-top: -10px;
}

.about-view.packages-btn.offfer-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-right: 25px;
}

/*custom-input-group*/

.custom-input-group {
  position: relative;
}

.custom-input-group i {
  position: absolute;
  color: #aaa;
  font-size: 16px;
  top: 25px;
  left: 40px;
}

.custom-input-group .form-control {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  padding-left: 63px;
  padding-right: 155px;
  font-size: 16px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-color: #eee;
}

.custom-input-group .subscribe-btn {
  float: right;
  position: relative;
  z-index: 1;
  margin: 5px 5px;
}

/*-------------------------------------
        Footer-copyright
--------------------------------------*/

.footer-copyright {
  background: #f9f9f9;
  padding: 0 0 60px;
}

.footer-content {
  padding: 120px 0;
}

/*single-footer-item*/

.single-footer-item {
  font-family: sans-serif;
  text-transform: capitalize;
}

.single-footer-item h2 {
  color: #565a5c;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}

/*single-footer-item*/

/*footer-logo*/

.footer-logo {
  padding-top: 76px;
}

.footer-logo a,
.footer-logo a:hover,
.footer-logo a:focus {
  color: #565a5c;
  font-size: 24px;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  margin: 14px 0 0;
  padding: 10px 0 0 0;
}

.footer-logo a > span {
  color: #6868ac;
  text-transform: capitalize;
}

.footer-logo p {
  color: #aaa;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/*footer-logo*/

/*single-footer-txt*/

.single-footer-txt p {
  margin-bottom: 8px;
}

.single-footer-txt p a {
  color: #565a5c;
  font-size: 16px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.single-footer-txt p a:hover {
  -webkit-transition: scaleX(1.2);
  -moz-transition: scaleX(1.2);
  -ms-transition: scaleX(1.2);
  -o-transition: scaleX(1.2);
  transform: scaleX(1.2);
  color: #6868ac;
}

/*single-footer-txt*/

.footer-copyright hr {
  border-top: 1px solid #ebebeb;
}

/*foot-icons*/

.foot-icons {
  text-align: center;
  margin-top: 60px;
}

.foot-icons .footer-social-links li {
  padding: 0 10px;
  text-align: center;
}

.foot-icons .footer-social-links a {
  color: #fff;
  display: block;
  font-size: 18px;
  width: 60px;
  line-height: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  border-radius: 50%;
}

.foot-icon-bg-1 {
  background: #3b5999;
}

.foot-icon-bg-2 {
  background: #1da1f3;
}

.foot-icon-bg-3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8938ae+0,c13181+100 */
  background: #8938ae;
  /* Old browsers */
  background: -webkit-linear-gradient(right, #8938ae 0%, #c13181 100%);
  background: -o-linear-gradient(right, #8938ae 0%, #c13181 100%);
  background: linear-gradient(to right, #8938ae 0%, #c13181 100%);
}

.foot-icons .footer-social-links a:hover {
  /*color: #00d8d5;*/
  color: #2cdbb5;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.foot-icons p {
  color: #aaa;
  font-size: 16px;
  margin-top: 28px;
}

.foot-icons p a,
.foot-icons p a:hover,
.foot-icons p a:focus {
  color: #6868ac;
  font-size: 16px;
  margin-top: 28px;
}

.footer-logo p {
  text-transform: none !important;
}

/*foot-icons*/

.testimonial-stars {
  margin: auto;
}

.gallery {
  background: #f9f9f9;
}

.gallery-details {
  margin-top: 117px;
  margin-bottom: 109px;
}

.gallery-content {
  margin-top: 62px;
}

/* gallary-header  */

.gallary-header h2 {
  position: relative;
  color: #565a5c;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Merriweather Sans", sans-serif;
  padding-bottom: 14px;
}

.gallary-header p,
ul {
  position: relative;
  color: #aaa;
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
  margin-top: 17px;
}

.gallary-header li {
  list-style-type: square;
}

.gallary-header .container {
  width: 80%;
  min-width: 200px;
}

.travel-item {
  background: transparent;
  border: transparent;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.travel-item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.travel-item h3 {
  color: #565a5c;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  padding-bottom: 3px;
  min-height: 63px;
  line-height: 2;
}
