.user-hs-container {
  background-color: #efefef;
}

.user-hs-container-2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* margin: 10px; */
}

.user-hs-info {
  display: flex;
  justify-content: space-between;
}

.user-hs-content {
  /* width: 50%; */
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  color: black;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.user-hs-content p {
  padding: 5px;
  margin: 0;
}

.user-hs-content-title {
  text-align: left;
  font-size: 22px;
}

.user-hs-content-text {
  margin: 10px 0;
}

.user-hs-content button {
  border: none;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

.user-hs-images {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  margin-top: 20px;
  align-self: center;
}

.user-hs-rooms-container,
.user-hs-services-container {
  margin-top: 20px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-hs-services-container {
  margin-bottom: 40px;
  align-items: flex-start;
}

.user-hs-rooms-container h4,
.user-hs-services-container h4 {
  text-align: left;
  margin-bottom: 12px;
}

.user-hs-rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* flex-direction: column; */
}

.user-hs-rooms-item {
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  display: flex;
  /* flex-direction: column; */
  width: fit-content;
  flex-grow: 1;
  /* height: fit-content; */
  /* width: fit-content; */
  /* margin-right: 20px; */
}

.user-hs-rooms-item:last-child {
  margin-right: 0;
}

.user-hs-rooms-item:hover {
  /* cursor: pointer; */
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.user-hs-rooms-item-content {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 20px;
}

.user-hs-rooms-item-content p {
  padding: 5px;
  margin: 0;
}

.user-hs-rooms-item img {
  width: 200px;
  height: auto;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.user-hs-services {
  display: flex;
  justify-content: flex-start;
}

.user-hs-services-item {
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 10px 20px 0 0;
  display: flex;
}

.user-hs-services-item:hover {
  /* cursor: pointer; */
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.user-hs-services-item p {
  padding: 5px;
  margin: 0;
}
