.slide-container {
  padding: 0;
  /* background-color: rgb(95, 158, 160, 0.8); */
  border-radius: 10px;
  /* box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-container img {
  width: auto;
  height: auto;
  border-radius: 5px;
}

.slide-img-container {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  position: relative;
}

.slide-img-container button {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 0 3px 3px 0;
  top: 40%;
  background-color: transparent;
  border: none;
}

.slide-img-container button:hover{
    background-color: #ccc;
}

.slide-img-container button:last-child {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide-dots {
  display: flex;
  /* border-radius: 20px; */
  /* box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2); */
  padding: 5px 0;
  margin-top: 20px;
}

.slide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin: 0 10px;
}

.slide-dot:hover {
  background-color: #717171;
}

/* .slide-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slide-list li {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-list li img {
  width: auto;
  height: 200px;
} */
